/* ------- Panel -------  */

.panel-container {
    margin-top: 2rem;
    width: 60vw;
    height: 60vh;
    display: flex;
    /* background-color: red; */
}

.panel {
    background-color: rgba(105, 135, 190, 0.253);
    margin: 0 auto;
    max-width: 40vw;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: clamp(0.5rem, 0.375rem + 0.625vw, 1rem);
    grid-area: agent;
}

#agent-name {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2rem;
}
  
#agent-renders {
    position: relative;
    max-height: 65vh;
    width: auto;
    z-index: 10;
}

#agent-background {
    position: absolute;
    max-height: 80vh;
    z-index: 2;
    opacity: 50%;
}

.info {
      z-index: 2;
  }

