/* ------- Panel -------  */

.panel-container {
    width: 60vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    background-color: red;
}

.panel {
    background-color: rgb(66, 81, 109);
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
#agent-renders {
    height: 65vh;
    /* width: 20%; */
  }