/* ------- Agents -------  */

/* Fix white space  */
body {
    background-color: rgb(16, 24, 35);
}
#main-agent {
    background-color: rgb(16, 24, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;
}

#agents-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    min-height: 100%;
    /* background-color: rgb(68, 73, 48); */
}
  
#agent-portrait {
    width: 10rem;
}
  
.cards { 
    transition:  background-color 0.5s ease-in-out;
}
  
.inactive {
  display: flex; 
  flex-direction: column;
  align-items: center; 
  border-radius: 0.8rem;
  background-color: rgb(48, 48, 73);
  color: white;
  cursor: pointer;
  
}
  
.active {
    border-radius: 0.8rem;
    background-color: #FF4454;
}