#match-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

#agents-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

#agent-portrait {
  width: 10rem;
}

.cards {
  
  transition:  background-color 0.5s ease-in-out;
}

.inactive {
background-color: red;
}

.active {
  width: 20rem;
  height: auto;
  background-color: orange;
}







#weapons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

#weapons-portrait {
  width: 20rem;
}

#map-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

#map-splash {
  width: 20rem;
}

#video {
  width: 720px;
  height: 500pd;
}