/* * {
  --ms-overflow-style: none;
  scrollbar-width: 2rem;
  overflow-y: scroll;
} */

* ::-webkit-scrollbar-track {
background: rgb(89, 96, 110);
}
* ::-webkit-scrollbar-thumb {
  background: rgb(56, 64, 80);
  border-radius: 100vw;
  }
  * ::-webkit-scrollbar-thumb:hover {
    background: rgb(29, 33, 41);
    }

* ::-webkit-scrollbar {
  /* display: none */
  width: 0.8rem;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content:  center;
  flex-direction: column;
  background-color: #FF4454;
  color: white;
}






