* {
  --ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
* ::-webkit-scrollbar {
  display: none
}

/* ------- Agents -------  */
#agents-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

#agent-portrait {
  width: 10rem;
}

.cards { 
  transition:  background-color 0.5s ease-in-out;
}

.inactive {
background-color: red;
}

.active {
  width: 20rem;
  height: auto;
  background-color: orange;
}

/* ------- Weapons -------  */
#weapons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

#weapons-portrait {
  width: 20rem;
}


/* ------- Maps -------  */
#map-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

#map-splash {
  width: 20rem;
}

#video {
  width: 720px;
  height: 500pd;
}

/* ------- Cards -------  */
#main-dv {
  background-color: rgb(82, 82, 219);
  height: 100vh;
  display: grid;
  grid-template-areas: 
  "cards big";
  grid-template-columns: 60% 40%;
  grid-column-gap: 20px;
  ;
}
#card-container {
  /* background-color: rgb(184, 106, 106); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 8px;
  gap: 1rem;
  grid-area: cards;
  overflow: scroll;
}

#card-art {
  width: 10rem;
}

#test {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellowgreen;
  grid-area: big
}
#pc {
  width: auto;
  height: auto;
  background-color: red;
}

/* ------- Matches -------  */
#match-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}