/* ------- Cards -------  */

#main-div {
    display: grid;
    grid-template-areas: 
    "cards big";
    grid-template-columns: 65% 35%;
    background-color: #EA5D4D;
    height: 100vh;
}

#card-container {
    /* min-height: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 8px;
    gap: 1rem;
    grid-area: cards;
    margin: 0.5rem;
    padding: 1rem;
    overflow: scroll;
    overflow-x: hidden;
    color: #f0bbb4;
}

div#card-container::-webkit-scrollbar-track {
    background: #b1473bbd;
    border-radius: 100vw;
}

div#card-container::-webkit-scrollbar-thumb {
    background: #b1473bbd;
    border-radius: 100vw;
}

div#card-container::-webkit-scrollbar-thumb:hover {
      background: #86352cb0;
}

#card-art {
    width: 10rem;
    cursor: pointer;
}
  
#lg-card-panel {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #EA5D4D;
    color: #f0bbb4;
    grid-area: big;
}

#lg-card {
    width: auto;
    max-height: 40rem;
}

#empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 40rem;
    margin-top: 12%;
    background-color: rgba(23, 32, 61, 0.144);
    color: white;
}
@media (max-width: 900px) {

    #main-div{
        display: inline-block;
        height: auto;
    }
    #lg-card-panel {
        display: none;
    }
    
    #lg-card {
        display: none;
    }
    
    #empty {
       display: none;
    }

    div#card-container::-webkit-scrollbar-track {
        display: none;
    }
}

@media (max-width: 1260px) {
    #lg-card {
        max-height: 36rem;
    }
}

@media (max-width: 1035px) {
    #lg-card {
        max-height: 33rem;
    }
}