/* ------- Weapons -------  */

#weapons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  background-color: rgb(136, 67, 67);
}
  
.weapons-portrait {
  width: 30rem;
}

.chroma {
  width: 17rem;
}
  
#video {
  width: 720px;
}