/* ------- Weapons -------  */

#main-weapons {
  display: grid;
  grid-template-areas: 'weapons side';
  grid-template-columns: 95% 5%;
}

#weapons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  background-color: #161a25;
  color: white;
  grid-area: weapons;
}

/* .weapons {
  background-color: blue;
} */

.weapons-portrait {
  width: 30rem;
}

